@import "tailwindcss";

@font-face {
  font-family: 'NexaRegular';
  src: url('/fonts/Nexa Regular.otf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red-500: #B62507;
  --yellow-500: #F5A41C;
  --orange-500: #F9781C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'NexaRegular', 'Gellix', Arial, Helvetica, sans-serif;
  letter-spacing: -0.04em;
  height: 1.2em;
}
